.btn {
  color: #fff;
  padding: 8px 35px;
  font-size: 1.1rem;
  font-weight: 300;
  background: #25797c;

  &__seafoam {
    background: #cceaea;
    color: #25797c;
  }
}

.btn:hover {
  background: #000;
  color: #fff;
}
