.contact-form {
  padding: 0 4%;
  overflow-y: hidden;


  @mixin atSmall {
    padding: 0 7%;
    padding-bottom: 10px;
  }

  @mixin atMedium {
    padding: 0 25%;
    padding-bottom: 80px;
  }

  @mixin atLarge {
    padding: 0 35%;
    padding-bottom: 100px;
  }

  .btn {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    text-align: center;
    @mixin atMedium {
      margin: 0 100px;
      margin-bottom: 0;
    }


  }
}

#message {
  padding-bottom: 150px;
}
