.hello {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10% 0;

  @mixin atMedium {
  padding: 0 0;
  }

  &__contact {
    padding: 10px;

  }

  h1 {
    text-align: center;
    color: #445053;
    font-size: 1.7rem;
    font-weight: 300;
  }

  p {
  text-align: center;
  word-wrap: break-word;
  justify-self: center;
  padding: 0 0;
  font-size: 1.1rem;
  font-weight: 300;

  @mixin atMedium {
  padding: 0 200px;
  }

  @mixin atLarge {
    padding: 0 400px;
  }

  @mixin atExtraLarge {
    padding: 0 750px;
  }

  }

  img {
    width: 150px;
    justify-self: center;
    padding-bottom: 20px;
  }

  &--work {
    margin-bottom: 0;

    @mixin atSmall {
      margin-bottom: 50px;
    }
  }

}
