.nav-header {
  padding: 0 0%;
  padding-top: 2%;
  background: #cceaea;
  z-index: 2;

  @mixin atLarge {
    padding: 2% 20%;
  }


  ul {

    display: none;
    background: #fff;
    float: none;
    position: absolute;


    @mixin atMedium {
      float: right;
      list-style: none;
      background: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      position: absolute;
      right: 400px;

    }

  }

  li a {
    color: #25797c;
    font-size: 1.2rem;
    padding-right: 30px;
    font-family: raleway;


  }

  li a:hover {
    color: #000;
    text-decoration: none;
  }

  .active {
    display: block;
  }

  .toggle {
    display: none;
  }

  @media (max-width: 800px) {
    .toggle {
      display: block;
    }
  }
}
