.nav-header {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2%;
  background: #e0ebe8;
  z-index: 2;

  @mixin atMedium {

  }

  @mixin atLarge {
    padding: 2% 25%;
  }



  img {
    width: 65px;

    @mixin atMedium {
    width: 80px;
    }
  }

  ul {

    display: none;
    background: #fff;
    float: none;
    position: absolute;


    @mixin atMedium {
      display: grid;
      float: right;
      list-style: none;
      background: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;

    }

  }

  li a {
    color: #4ab19a;
    font-size: 1.2rem;
    padding-right: 30px;
    font-family: raleway;


  }

  li a:hover {
    color: #000;
    text-decoration: none;
  }

  .active {
    display: block;
  }

  .toggle {
    display: none;
  }

  @media (max-width: 800px) {
    .toggle {
      display: block;
    }
  }
}
