.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5% 5%;
  background: #cceaea;



  @mixin atMedium {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 150px;
    padding-top: 50px;
    grid-gap: 150px;
  }


  img {
    width: 100%;
  }

  .text-content {
    display: grid;
    grid-template-columns: 1fr;
    color: #25797c;

  }

  h1 {
    font-family: raleway;
    font-size: 1.2rem;

    @mixin atMedium {
      font-size: 1.3rem;
      padding: 10px 0;
    }
  }

  h5 {
    font-family: raleway;
    position: relative;
    font-size: .8rem;
    padding-bottom: 50px;

    @mixin atMedium {
    padding-bottom: 25px;
    }
  }


  p {
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.4;
    padding: 0 0;
    padding-bottom: 50px;

    @mixin atMedium {
      font-size: 1.1rem;
      padding-bottom: 100px;
    }
  }



* {
  overflow-y: hidden;
}
}
