.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 5% 0;




  &__first {
    background: #4e5299;
  }

  &__second {
    background: #d0bc03;
    color: #000;
  }

  &__third {
    background: #933b2f;
    .btn {
      background: #4299ed;
      border: none;
    }
  }

  &__fourth {
    background: #9bd3ca;
    .btn {
      background: #005361;
    }
  }

  img {
    width: 90%;


    @mixin atMedium {
      width: 35%;
    }
  }

  h1 {
    font-family: raleway;
    color: #fff;
    font-size: 2rem;
    text-align: center;

    @mixin atMedium {
      font-size: 2.7rem;
    }
  }

  h5 {
    font-family: raleway;
    color: #fff;
    position: relative;
    padding-top: 10px;
    bottom: 30px;
    font-size: 1.2rem;

    @mixin atMedium {
      padding-top: 3px;
    }
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    color: #fff;
    padding: 0 10%;
    text-align: center;

    @mixin atMedium {
      font-size: 1.2rem;
      padding: 0 35%;
    }
  }


.btn {
  margin-top: 30px;
}
* {
  overflow-y: hidden;
}
}
