.top-container {
  padding: 0 0;
  display: grid;
  grid-template-columns: 1fr;
  background: #cceaea;


  @mixin atMedium {
    padding: 0 0;
    margin-bottom: 100px;
  }

  @mixin atLarge {
    padding: 0 20%;
  }

  img {
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #25797c;
    font-family: 'raleway', sans-serif;
    font-weight: 300;

    @mixin atSmall {
      top: 8%;
      font-size: 3.6rem;
    }

    @mixin atMedium {
      font-size: 4.2rem;
      top: 8%;
    }

    @mixin atLarge {
      font-size: 4.8rem;
      top: 10%;
    }
  }

  p {
    position: absolute;
    top: 13%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #25797c;
    font-weight: 300;


    @mixin atSmall {
    top: 20%;
    font-size: 1.7rem;
    }

    @mixin atMedium {
      font-size: 1.8rem;
      top: 23%;
    }

    @mixin atLarge {
      font-size: 2rem;
      top: 28%;
    }
  }

}
