.top-container {
  padding: 0 0;
  display: grid;
  grid-template-columns: 1fr;
  background: #cceaea;


  @mixin atMedium {
    padding: 0 0;
    margin-bottom: 100px;
  }

  @mixin atLarge {
    padding: 0 20%;
  }

  img {
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #25797c;
    font-family: 'raleway', sans-serif;
    font-weight: 300;

    @mixin atSmall {
      top: 8%;
      font-size: 3.6rem;
    }

    @mixin atMedium {
      font-size: 4.2rem;
      top: 5%;
    }

    @mixin atLarge {
      font-size: 4.8rem;
      top: 7%;
    }
  }

  p2 {
    position: absolute;
    padding-top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #25797c;
    font-weight: 300;


    @mixin atSmall {
    padding-top: 120px;
    font-size: 1.7rem;
    }

    @mixin atMedium {
      padding-top: 150px;
      font-size: 1.8rem;

    }

    @mixin atLarge {
      padding-top: 180px;
      margin-top: 20px;

    }
  }

}
