.top-container__contact {
  padding: 0 0;
  display: grid;
  grid-template-columns: 1fr;
  background: #72BFDA;


  h1 {
    position: relative;
    margin-bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    font-family: 'raleway', sans-serif;
    font-weight: 300;
    z-index: 6;

    @mixin atSmall {
      font-size: 3.6rem;
    }

    @mixin atMedium {
      font-size: 4.2rem;
    }

    @mixin atLarge {
      font-size: 4.8rem;
    }
  }

  img {
    width: 50%;
  }

  .balloon-1 {
    display: none;
    position: relative;

    @mixin atLarge {
      display: block;
      position: absolute;
      width: 250px;
      left: 540px;
      top: 50px;
      overflow-y: hidden;
      z-index: 6;
    }

  }

  .balloon-2 {
    display: none;
    position: relative;

    @mixin atLarge {
      display: block;
      position: absolute;
      width: 200px;
      top: 120px;
      right: 500px;
      z-index: 6;
    }
  }
}
